.dialogs-area{
    display: grid;
    grid-template-columns: 5fr 10fr;
    
}
.dialogs-list ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
.dialogs-list ul li:hover{
    background-color:rgb(189, 216, 228);
    
}    

.dialogs-list ul li img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-right: 5px;
}

.dialogs-list{
    
    display: flex;
}

.dialog-user{
    display: flex;
    align-items: center;
}

.dialog-message{
    display: inline-block;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    max-width: 300px;
    max-height: 300px;
    padding: 5px;
    margin: 15px;
}

.dialog{
    display: flex;
    flex-direction: column;
}
