.sidebar{
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
  }
  
  .categories_header{
    display: flex;
    justify-content: center;
  }
  
  .categories{
    display: flex; 
  }
  
  .categories ul{
    position: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
  }
.listStyle a{
  color: rgb(53, 170, 185);
  text-decoration: none;
}
.listStyle a.active{
  color: red;
  font-weight: 1000;
}
.listStyle a:hover{
  font-weight: 1000;
}

.user_menu{
  display: flex; 
  margin-top: 50px; 
  }
  .user_menu ul{
      list-style-type: none;
      position: left;
      margin: 0;
      padding: 0;
      font-size: 30px;
  }

.NavLink .active{
  color: red;
}