.userDiv{
    display: inline-block;
    flex-direction: column;
    height: 170px;
    width: 170px;
    border: 1px solid black;
    margin: 15px;
    position: relative;
}

.userDiv img{
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.userDiv button{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 40px;
    width: 100px;
}

.userName{
    text-align: center;
    margin: 0 auto;
    display: block;
}