.App {
  text-align: center;
}

.grid-wrapper{
  display: grid;
  grid-template-areas: 
    "sidebar content"
    "footer footer";
  grid-template-rows: 1fr 100px;
  grid-template-columns: 20% 1fr;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
  margin-left: 15%;
  margin-right: 15%;
}





